/* Simple reset for universal selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; /* used to reference rem value*/
}

body {
  box-sizing: border-box;
}